.image {
    border: 3px solid #FE676D !important;
}

.table {
    border: 2px solid #FE676D !important;
}

.button {
    background-color: #FE676D !important;
    color: #fff !important;
    border: 0 !important;
}

.fw-bold,
h1 {
    color: #FE676D !important;
}

.result {
    background-color: #FE676D !important;
    color: #fff !important;
    font-weight: bold !important;
}

tr {
    border: 2px solid #FE676D !important;
}

.result {
    background-color: #FE676D !important;
}